<div class="pb-5">
	<div class="py-3">
		<h1>Altere aqui um local de coleta</h1>
	</div>
</div>

<form class="container-fluid" id="form">
	<input class="form-control" type="hidden" name="id" value="<%= ecoponto.id %>"/>
	<input class="form-control" type="hidden" id="altlat" name="lat" value="<%= ecoponto.lat %>"/>
	<input class="form-control" type="hidden" id="altlng" name="lng" value="<%= ecoponto.lng %>"/>

	<h3>Dados do Local</h3>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="inputnomelocal">Nome do Local*</label>
				<input class="form-control" type="text" id="altnomelocal" name="nomelocal" placeholder="Nome do Local" value="<%= ecoponto.nomelocal %>"/>
			</div>
			<div class="form-group">
				<label for="inputcep">CEP*</label>
				<input class="form-control" type="text" id="altcep" name="cep" placeholder="ex.: 04015-013" onblur="localizarcep()" value="<%= ecoponto.cep %>"/>
			</div>
			<div class="form-group">
				<label for="inputnumero">N칰mero*</label>
				<input class="form-control" type="text" id="altnumero" name="numero" placeholder="ex.: 1240" value="<%= ecoponto.numero %>"/>
			</div>
			<div class="form-group">
				<label for="inputtelefone">Telefone</label>
				<input class="form-control" type="text" id="alttelefone" name="telefone" placeholder="ex.: (99) 99999-9999" value="<%= ecoponto.telefone %>"/>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="inputlogradouro">Logradouro*</label>
				<input class="form-control" type="text" id="altlogradouro" name="logradouro" value="<%= ecoponto.logradouro %>"/>
			</div>
			<div class="form-group">
				<label for="inputbairro">Bairro*</label>
				<input class="form-control" type="text" id="altbairro" name="bairro" value="<%= ecoponto.bairro %>"/>
			</div>
			<div class="form-group">
				<label for="inputcidade">Cidade*</label>
				<input class="form-control" type="text" id="altcidade" name="cidade" value="<%= ecoponto.cidade %>"/>
			</div>
			<div class="form-group">
				<label for="inputestado">Estado*</label>
				<input class="form-control" type="text" id="altestado" name="estado" value="<%= ecoponto.estado %>"/>
			</div>
		</div>
		<div class="col-md-4">
			<h3>Foto do local</h3>
			<div class="form-group">
				<label for="foto">Anexar uma Foto</label>
				<input class="form-control" type="file" id="altfoto" name="foto"/>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block btn-lg">
					Alterar Local
				</button>
			</div>
		</div>
	</div>
</form>

<div id="mapa"></div>

<%- contentFor("espaco-head") %>

<link rel="stylesheet" href="/public/css/leaflet-1.7.1.css" />

<style type="text/css">
	#mapa {
		height: 400px;
	}
</style>

<%- contentFor("espaco-rodape") %>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/methods_pt.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script src="/public/js/leaflet-1.7.1.js"></script>

<script type="text/javascript" id="verificar-cep">
	
async function localizarcepClick() {
    let altcep = document.getElementById("altcep");
    let exprcep = /^\d\d\d\d\d-\d\d\d$/;

    let cep = altcep.value.normalize().trim();

    //if (cep == "") {
    //if (!cep || cep.length != 9 || !exprcep.test(cep)) {
    if (!exprcep.test(cep)) {
        Swal.fire({
			icon: "error",
			title: "Oops...",
			text: "O CEP inserido est치 inv치lido! Por favor, insira um CEP v치lido!"
		  });;
        return;
    }

    try {
        //let response = await fetch("http://viacep.com.br/ws/" + cep + "/json/");
        let response = await fetch(`http://viacep.com.br/ws/${cep}/json/`);

        if (!response.ok) {
            Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "Erro de rede ao buscar o CEP! Por favor, tente novamente"
			  });;
            return;
        }

        let objeto = await response.json();

        if (objeto.erro) {
            Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "O CEP inserido est치 inv치lido! Por favor, insira um CEP v치lido!"
			  });;
            return;
        }

        let altlogradouro = document.getElementById("altlogradouro");
        let altbairro = document.getElementById("altbairro");
        let altestado= document.getElementById("altestado");
        let altcidade = document.getElementById("altcidade");

        if (objeto.logradouro) {
            altlogradouro.value = objeto.logradouro;
        } else {
            altlogradouro.value = "";
        }

        if (objeto.bairro) {
            altbairro.value = objeto.bairro;
        } else {
            altbairro.value = "";
        }

        if (objeto.uf) {
            altestado.value = objeto.estado;
        } else {
            altestado.value = "";
        }

        if (objeto.localidade) {
            altcidade.value = objeto.localidade;
        } else {
            altcidade.value = "";
        }

    } catch (ex) {
        Swal.fire({
			icon: "error",
			title: "Oops...",
			text: "Erro de rede ao buscar o CEP! Por favor, tente novamente"
		  });;
    }
}

let ultimocep = "";

async function localizarcep() {
    let altcep = document.getElementById("altcep");
    let exprcep = /^\d\d\d\d\d-\d\d\d$/;

    let cep = altcep.value.normalize().trim();

    //if (cep == "") {
    //if (!cep || cep.length != 9 || !exprcep.test(cep)) {
    if (!exprcep.test(cep)) {
        //alert("cep inv치lido");
        return;
    }

    if (ultimocep === cep) {
        return;
    }

    try {
        //let response = await fetch("http://viacep.com.br/ws/" + cep + "/json/");
        let response = await fetch(`http://viacep.com.br/ws/${cep}/json/`);

        ultimocep = cep;

        if (!response.ok) {
            Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "O CEP inserido est치 inv치lido! Por favor, insira um CEP v치lido!"
			  });;
            return;
        }

        let objeto = await response.json();

        if (objeto.erro) {
            Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "O CEP inserido est치 inv치lido! Por favor, insira um CEP v치lido!"
			  });;
            return;
        }

        let altlogradouro = document.getElementById("altlogradouro");
        let altbairro = document.getElementById("altbairro");
        let altestado = document.getElementById("altestado");
        let altcidade = document.getElementById("altcidade");

        if (objeto.logradouro) {
            altlogradouro.value = objeto.logradouro;
        } else {
            altlogradouro.value = "";
        }

        if (objeto.bairro) {
            altbairro.value = objeto.bairro;
        } else {
            altbairro.value = "";
        }

        if (objeto.uf) {
            altestado.value = objeto.uf;
        } else {
            altestado.value = "";
        }

        if (objeto.localidade) {
            altcidade.value = objeto.localidade;
        } else {
            altcidade.value = "";
        }

    } catch (ex) {
		Swal.fire({
			icon: "error",
			title: "Oops...",
			text: "Erro de rede ao buscar o CEP! Por favor, tente novamente"
		  });;
    }
}
</script>

<script type="text/javascript" id="alterar-local">

	$("#form").validate({
		rules: {
			nomelocal: {
				required: true
			},
			cep: {
				required: true
			},
			numero: {
				required: true
			},
			telefone: {
				required: true
			},
			logradouro: {
				required: true
			},
			bairro: {
				required: true
			},
			cidade: {
				required: true
			},
			estado: {
				required: true
			},
		},
		submitHandler: function (form) {
			alterarLocal(form);
		}
	});
	async function alterarLocal(form) {
		try {
			let response = await fetch("/alterarLocal", {
				method: "POST",
				body: new FormData(form)
			});

			if (!response.ok) {
				exibirErro(response);
				return;
			}
 
			Swal.fire({
				title: "Ebaa!",
				text: "Altera칞칚o realizada com sucesso!",
				icon: "success"
			  });;
			
			form.reset();

		} catch (ex) {
			Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "Ocorreu um problema de rede ao alterar o local: " + ex.message
			  });; 
		}

	}

</script>

<script type="text/javascript" id="script-mapa">
	let mapa = L.map("mapa", { zoomControl: false }),
		popup = L.popup();

	function iniciarMapa(lat, lng) {
		let latlng = new L.LatLng(lat, lng);

		L.control.zoom({
			position: "topright"
		}).addTo(mapa);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
			subdomains: ['a', 'b', 'c'],
			center: [latlng],
			minZoom: 5
		}).addTo(mapa);

		mapa.on("click", function (e) {
			let inputaltlat = document.getElementById("altlat");
			let inputaltlng = document.getElementById("altlng");
			inputaltlat.value = e.latlng.lat;
			inputaltlng.value = e.latlng.lng;
			popup.setLatLng([e.latlng.lat, e.latlng.lng]);
			popup.setContent(`<p>Seu local est치 aqui! 游때</p>`);
			popup.openOn(mapa);
		});

		mapa.setView(latlng, 18);
	}

	iniciarMapa(-23.587213828191686, -46.644340317344714);

</script>