<div class="fundo-titulo">
    <h1 class="text-center pb-3">
        Locais de descarte cadastrados!
    </h1>
</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

body {
    font-family: 'Goldman', sans-serif;
    background-color: #fff;
}

h1 {
    font-family: 'Saira Stencil One', 'Galindo', "Goldman", sans-serif;
    color: #9F600A;
    text-align: left;
}

.table-responsive {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tr {
    border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
    background-color: rgba(199, 100, 0, 0.33);
}

table tr:nth-of-type(odd) {
    background-color: rgba(199, 100, 0, 0.55);
}

table th {
    background-color: #9F600A;
    color: white;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: #9F600A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #9F600A;
}

.btn-primary:hover {
    background-color: #C76400;
}

.fundo-titulo {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: white;
}

.text-center {
    text-align: center;
}

</style>
    

<div class="table-responsive">
    <table class="table table-striped mb-0">
        <tr>
            <th class="d-none">Id</th>
            <th>Nome do Local</th>
            <th>Logradouro</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>Telefone</th>
            <th></th>
        </tr>
        <tbody>
    
            <% for (let i = 0; i < ecoponto.length; i++) { %>
                <tr>
                    <td class="d-none">
                        <%= ecoponto[i].id %>
                    </td>
                    <td>
                        <%= ecoponto[i].nomelocal %>
                    </td>
                    <td>
                        <%= ecoponto[i].logradouro %>
                    </td>
                    <td>
                        <%= ecoponto[i].numero %>
                    </td>
                    <td>
                        <%= ecoponto[i].bairro %>
                    </td>
                    <td>
                        <%= ecoponto[i].cidade %>
                    </td>
                    <td>
                        <%= ecoponto[i].estado %>
                    </td>
                    <td>
                        <%= ecoponto[i].cep %>
                    </td>
                    <td>
                        <%= ecoponto[i].telefone %>
                    </td>
                    <td class="d-none">
                        <%= ecoponto[i].lat %>
                    </td>
                    <td class="d-none">
                        <%= ecoponto[i].lng %>
                    </td>
                    <td>
                        <button type="button" onclick="detalheslocal(this)" class="btn btn-primary btn-block btn-lg">Saiba Mais!</button>
                    </td>
                </tr>
            <% } %>		
        </tbody>
    </table>
</div>
<script type="text/javascript" id="detalheslocal">
    async function detalheslocal(botao){
        debugger;
        let td = botao.parentNode;
        let tr = td.parentNode;
        let tds = tr.getElementsByTagName("td");
        let id = tds[0].textContent.trim();
        let nomelocal = tds[1].innerHTML;
        let logradouro = tds[2].innerHTML;
        let numero = tds[3].innerHTML;
        let bairro = tds[4].innerHTML;
        let cidade = tds[5].innerHTML;
        let estado = tds[6].innerHTML;
        let cep = tds[7].innerHTML;
        let telefone = tds[8].innerHTML;

        Swal.fire({
            title: `${nomelocal}`,
            html: `
                <p>${logradouro}, ${numero} - ${bairro}, ${cidade} - ${estado}, ${cep}</p>
                <p>Telefone: ${telefone}</p>
            `,
            imageUrl: `/public/img/local/${id}.jpg`,
            imageWidth: 400,
            imageHeight: 200,
            imageAlt: "Custom image",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Alterar",
            denyButtonText: `Deletar`,
            cancelButtonText: "Cancelar"
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              /*levar para pagina de alteração*/
              window.location.href='/alterar?id=' + id;
            } else if (result.isDenied) {
                Swal.fire({
                    title: "Você tem certeza?",
                    text: "Essa ação não poderá ser revertida!!",
                    icon: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Cancelar",
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sim, delete isso."
                  }).then((result) => {
                    if (result.isConfirmed) {
                      excluirLocal(id);
                    }
                  });
            }
          });
          
        
    }
    
	async function excluirLocal(id) {
		// A única informação enviada aqui é o id, que pode ser enviado diretamente
		// pela query string, sem necessitar do uso do body.

		// O método escolhido é DELETE, e não GET, apenas por questões semânticas,
		// afinal GET é para obter algo sem alterações, o que não ocorre aqui! ;)
		let opcoes = {
			method: "DELETE"
		};

		try {
			let response = await fetch("/excluirLocal?id=" + id, opcoes);

			if (response.ok) {
				Swal.fire({
                    title: "Deletado!",
                    text: "O local foi deletado com sucesso.",
                    icon: "success"
                  });

				/*let divPessoa = document.getElementById("divPessoa" + id);
				document.body.removeChild(divPessoa);*/
			} else {
				Swal.fire({
                    title: "Oops",
                    text: "Erro ao excluir o local!",
                    icon: "error"
                  });
			}
		} catch (ex) {
			alert("Erro de rede: " + ex.message);
		}
	}

</script>



